/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL SCREEN */
html, body {
  height: 100%;
  overflow: hidden;
  font-family: 'Times New Roman', Times, serif;
  background-color: #ffffff;
}

/* HEADER */
.header {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  height: 80px;
  border-bottom: 2px solid #c0a407;
  border-radius: 10px;
  box-sizing: border-box;
   background-color: #122f36;
}



/* ================= MAP ================= */
.map-container {
  position: fixed;
  top: 80px;
  bottom: 90px;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* SVG */
svg {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  object-fit: contain;
  transform: translateY(-20px);
}

/* PROVINSI */
svg path {
  fill: #122f36;
  stroke: #eee;
  stroke-width: .3;
  transition: 0.3s;
}

/* 🔥 HOVER TETAP ADA */
svg path:hover {
  fill: #c0a407;
  cursor: pointer;
}

/* ================= TOOLTIP ================= */
#tooltip {
  position: absolute;
  background: #205856;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 12px;
  pointer-events: none;

  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

#tooltip.show {
  opacity: 1;
  visibility: visible;
}

/* ================= SIDEBAR (BAWAH) ================= */
/* SIDEBAR */
.sidebar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 8px 20px;
  height: auto; /* 🔥 biarkan menyesuaikan isi */

  background: rgba(18, 47, 54, 0.95);
  backdrop-filter: blur(10px);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  border-top: 2px solid #c0a407;
}

/* LABEL */
.sidebar label {
  font-size: 16px;
  color: #ffffff;
}

.sidebar select {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
}
/* ================= POPUP ================= */
.popup {
  position: fixed;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}


/* POPUP CARD */
.popup-content {
  background: #ffffff;
  color: #000;
  padding: 20px;
  width: 320px;
  border-radius: 12px;
  text-align: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);


  position: relative;
}

/* JUDUL */
.popup-content h2 {
  display: inline-block;
  margin-bottom: 10px;
  border-bottom:1px solid #eee
}

/* NILAI */
.popup-content p {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

/* CLOSE BUTTON */
#close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  color: #555;
}

#close:hover {
  color: red;
  transform: scale(1.2);
}

/* ANIMASI */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

#nilaiIndeks div {
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid #eee;
}

.logo-bawah {
  position: fixed;
  bottom: 50px;   /* jarak dari bawah */
  left: 10px;     /* jarak dari kiri */

  width: 80px;    /* ukuran gambar */
  height: auto;

  z-index: 9999;  /* biar di atas elemen lain */
}

.logo-bawah {
  opacity: 0.8;
  transition: 0.3s;
}

.logo-bawah:hover {
  opacity: 1;
  transform: scale(1.1);
}

.land {
  opacity: 1;
  transition: 0.3s;
}

.land.dim {
  opacity: 0.2;
}

.land.active {
  opacity: 1;
  fill: #c0a407 !important;
}

#indonesiaBox {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #122f36;
  color: white;
  padding: 3px 20px;
  border-radius: 10px;
  text-align: center;
  min-width: 250px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

#indonesiaBox h3 {
  margin-bottom: 5px;
  font-size: 16px;
  border-bottom: 1px solid #ffffff;
}

#nilaiIndonesia {
  font-size: 14px;
}
